@import "tailwindcss";
* {
  scrollbar-width: thin;
  scrollbar-color: #111214 #1e1f22;
}

*::-webkit-scrollbar { width: 8px; }
*::-webkit-scrollbar-track { background: #1e1f22; }
*::-webkit-scrollbar-thumb { background: #111214; border-radius: 4px; }

